body {
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-thumb {
  background-color: #09799e;
  border: 1px solid #086989;
  border-radius: 2em;
}

.iconfont {
  font-size: 14px;
}

.el-container-custom .el-container {
  min-width: 1450px;
}

.pagination-box {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0px;
}

.pagination-box .el-pagination {
  padding-right: 0px;
}

.pagination-box .btn-next {
  margin-right: 0 !important;
}

.amap-logo,
.amap-copyright {
  display: none !important;
}

.table-expand-form {
  font-size: 0;
}

.table-expand-form label {
  width: 90px;
  color: #99a9bf;
}

.table-expand-form .el-form-item {
  margin-right: 0;
  margin-bottom: 0;
  width: 50%;
}

.myLoading {
  z-index: 9999;
}

.insert-table > td {
  padding: 0;
}

.insert-table .el-child-table thead th {
  text-align: center;
}

.insert-table .el-child-table tbody td {
  text-align: center;
}

.icp {
  position: absolute;
  bottom: 5%;
  z-index: 99;
  color: #fff;
  text-align: center;
  width: 100%;
}
